<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Reimbursment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>Login</servlet-name>
    <servlet-class>stark.project.servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>stark.project.servlets.Welcome</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>Logout</servlet-name>
    <servlet-class>stark.project.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetEmployeeInfo</servlet-name>
    <servlet-class>stark.project.servlets.GetEmployeeInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>EditEmployeeInfo</servlet-name>
    <servlet-class>stark.project.servlets.EditEmployeeInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetAllEmpRequests</servlet-name>
    <servlet-class>stark.project.servlets.GetAllEmpRequests</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetManagerInfo</servlet-name>
    <servlet-class>stark.project.servlets.GetManagerInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetPendingEmpRequests</servlet-name>
    <servlet-class>stark.project.servlets.GetPendingEmpRequests</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetResolvedEmpRequests</servlet-name>
    <servlet-class>stark.project.servlets.GetResolvedEmpRequests</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>SubmitRequest</servlet-name>
    <servlet-class>stark.project.servlets.SubmitRequest</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>EditManagerInfo</servlet-name>
    <servlet-class>stark.project.servlets.EditManagerInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetEmployeeList</servlet-name>
    <servlet-class>stark.project.servlets.GetEmployeeList</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>RegisterEmployee</servlet-name>
    <servlet-class>stark.project.servlets.RegisterEmployee</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetRequestsByEmployee</servlet-name>
    <servlet-class>stark.project.servlets.GetRequestsByEmployee</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetAllRequests</servlet-name>
    <servlet-class>stark.project.servlets.GetAllRequests</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetPendingRequests</servlet-name>
    <servlet-class>stark.project.servlets.GetPendingRequests</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetResolvedRequests</servlet-name>
    <servlet-class>stark.project.servlets.GetResolvedRequests</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>ResolveRequest</servlet-name>
    <servlet-class>stark.project.servlets.ResolveRequest</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>stark.project.servlets.ResetPassword</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetManagerHomeInfo</servlet-name>
    <servlet-class>stark.project.servlets.GetManagerHomeInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetEmployeeHomeInfo</servlet-name>
    <servlet-class>stark.project.servlets.GetEmployeeHomeInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetReceipt</servlet-name>
    <servlet-class>stark.project.servlets.GetReceipt</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>EditInfoLanding</servlet-name>
    <servlet-class>stark.project.servlets.EditInfoLanding</servlet-class>
  </servlet>
  <filter>
    <display-name>EmployeeFilter</display-name>
    <filter-name>EmployeeFilter</filter-name>
    <filter-class>stark.project.filters.EmployeeFilter</filter-class>
  </filter>
  <filter>
    <display-name>ManagerFilter</display-name>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>stark.project.filters.ManagerFilter</filter-class>
  </filter>
  <error-page>
    <error-code>418</error-code>
    <location>/418.html</location>
  </error-page>
</web-app>